# Usage: pip install -r requirements.txt


# ---------------GUI---------------
customtkinter>=5.0.3
opencv-python>=4.7.0
matplotlib>=3.7.1
CTkMessagebox>=2.2
matplotlib>=3.2.2
Pillow


# ---------------Yolo---------------
torch>=2.0.1
pandas>=2.0.3
requests>=2.31.0
psutil>=5.9.5
numpy>=1.18.5
PyYAML>=5.3.1
scipy>=1.4.1
torchvision>=0.8.1
tqdm>=4.41.0
tensorboard>=2.4.1
seaborn>=0.11.0


# By yuan

